.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  &__inner {
    display: flex;
    align-items: center;
    gap: 30%;
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #544837;
  }
}

.footer-nav__list {
  display: flex;
  gap: 150px;
  justify-content: space-between;
}
