<section class="backend-hero hero-one">
  <div class="container">
    <div class="hero-one__inner">
      <div class="hero-one__info">
        <div class="hero-one__title">
          1С-разработчик
        </div>
        <div class="hero-one__descr">
          Это прибыльная и востребованная IT-специальность. Специалисты на 1С могут работать с абсолютно с любыми организациями, где есть бухгалтерия — это магазины, торговымые центры, заводы и далее по списку. Разработчик 1С помимо разработки и доработки программы, осуществляет постоянную техническую поддержку, находит и устраняет ошибки, ликвидирует любой сбой в программе, обеспечивает безопасность сервера. И это далеко не всё, что может делать программист 1С. Всё зависит от структуры предприятия.
        </div>
      </div>
      <div class="hero-one__image">
        <img src="./img/1c-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
