<section class="fronted-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Программист 1С занимается внедрением, настройкой и обновлением программ, потому что редко какая программа работает длительное время без сбоя и не требует обновлений. А также написанием кодов, которые позволят другим пользователям легче решать свои задачи, ведь на каждом предприятии свои особенности работы.
        </p>

        <h3 class="info__subtitle">Перспективы</h3>
        <p class="info__knowledge">
          Выбирая эту профессию, специалист получает широкое пространство для карьерного манёвра. Он может оставаться в сугубо технической плоскости, а может выстраивать бизнес-архитектуру компаний, поскольку часто, в силу опыта, имеет глубокие познания в различных бизнес-моделях предприятий. Сфера деятельности специалистов этого профиля также включает составление инструкций, оформление технической документации, обучение и консультирование пользователей. Поэтому устроиться можно практически куда угодно, главное чтобы была работа с бухгалтерией, документацией.
          </p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Минимальныйи порог входа в профессию. Вам не нужно высшее профильное образование в сфере IT или английский язык. Работодатели смотрят на реальные умения. <br>
            Низкая конкуренция, так как сейчас большинство разработчиков идут в веб-разработку и другие более популярные направления. <br>
            Высокий спрос на программистов, т.к. сейчас профессия не сильно популярна среди молодёжи, на рынке труда всегда можно найти вакансии с хорошими условиями работы и хорошей ЗП.
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            Нужно учиться не только самой разработке на 1С, но и разбираться во внутренних процессах компании, как всё устроенно. <br>
            Высокий уровень ответственности, так как если в вашей программе будет какая-либо неисправность или баг, то компания может потерять миллионы рублей. Например, из-за ошибки в бухгалтерских расчётах. Это очень страшно.
                      </p>
        </div>

      </div>
    </div>
  </div>
</section>
