<section class="about">
  <div class="container">
    <h1 class="about__title">About Us</h1>
    <p class="about__descr">
      Меня зовут Сидоркина Таня, мне 17 лет.На данный момент я являюсь студентом «Валуйского колледжа» и прохожу обучение на 2-м курсе.
      С недавнего времени я начала усиленно изучать CSS и HTML, думаю по понятным причинам и мне на удивление понравилась вёрстка. Поэтому сейчас я все свое свободное время трачу на изучение чего-то нового связанного с созданием сайтов, и даже задумываюсь над тем, чтобы связать будующую профессию с вёрсткой сайтов.
    </p>
    <div class="about-card">
      <div class="about-card__inner">
        <div class="about-card__descr">
          <div class="about-card__title">Tanya Sidorkina</div>
          <div class="about-card__spec">Student</div>
        </div>
        <div class="about-card__image">
          <img src="./img/photo.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
