<section class="backend-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Программист по бэкенд-направлению занимается внутренним обустройством продукта, организует работу веб-приложения, сайтов, хранение данных, передачу информации пользователю и удобную навигацию. Если разделить веб-продукт на две части, то внешний вид продукта — это работа фронтенд, а внутренний функционал и хранение данных — это деятельность бэкенд специалистов.
        </p>

        <h3 class="info__subtitle">Перспективы</h3>
        <p class="info__knowledge">
          Карьера бэкенд-разработчика начинается со ступени “стажер”. Далее идет младший backend-программист. Он как минимум прилично разбирается в одном языке программирования и обычно выполняет мелкие поручения. Средний специалист на продвинутом уровне разбирается в языках программирования. Активно использует фреймворки и начинает самостоятельно выполняет задачи на проекте. Старший бэкенд-разработчик имеет опыт работы от 3 лет, хорошо знает специфику и особенности своей деятельности, быстро приспосабливается к новым условиям и коллегам. Проектирует и решает сложные задачи, работает в проектах крупного масштаба. Часто консультирует других программистов.</p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Большая востребованность, тысячи компаний делают сайты, вею-приложения, различные сложные сервисы, без работы не останешься никогда, тем более в наше время;
            Работа не требует профильного образования;
            Возможность работать удаленно.
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            Требуются обширные знания и серьезная подготовка;
            Обязательное взаимодействие с другими сотрудниками и работа в коменде(для некоторых это плюс, а для некоторых большой минус)
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
