<section class="backend-hero">
  <div class="container">
    <div class="backend-hero__inner">
      <div class="backend-hero__info">
        <div class="backend-hero__title">
          Бэкенд-разработчик
        </div>
        <div class="backend-hero__descr">
          Это программист, ответственный за «теневую» сторону разработки любого интернет-ресурса, без него не сможет нормально функционировать ни один сайт или приложение. Если говорить простым языком, то это человек, который заставляет продукт работать, хранить и передавать данные. Инструменты, которыми вы пользуетесь на ПК или смартфонах, сайты — все это результат работы целой команды бэкенд-разработчиков.
        </div>
      </div>
      <div class="backend-hero__image">
        <img src="./img/backend-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
