<div class="best-professions">
  <div class="container">
      <h1 class="best-professions__title">Самые востребованные профессий в 2023 году</h1>
      <div class="best-professions__inner">
        <div class="item">
          <div class="item__image">
            <img src="./img/svg/item-1.svg" alt="">
          </div>
          <div class="item__title">
            Frontend-разработчик
          </div>
          <div class="item__descr">
            Frontend – это все, что связано с визуальной частью любого проекта.
          </div>
        </div>
        <div class="item">
          <div class="item__image">
            <img src="./img/svg/item-2.svg" alt="">
          </div>
          <div class="item__title">
            Python-разработчик
          </div>
          <div class="item__descr">
            Python – один из самых популярных, востребованных, и в то же время простых языков программирования.
          </div>
        </div>
        <div class="item">
          <div class="item__image">
            <img src="./img/svg/item-3.svg" alt="">
          </div>
          <div class="item__title">
            Мобильные разработчики
          </div>
          <div class="item__descr">
            Мобильные разработчики не ограничиваются приложениями для смартфонов и планшетов – они создают ПО и для других устройств.
          </div>
        </div>
      </div>
  </div>
</div>
