<section class="fronted-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Аналитик данных (Data Analyst) занимается сбором, обработкой и анализом информации. Он пишет запросы в базы данных, выявляет тенденции, проверяет гипотезы, проводит тесты и на основе результатов делает определенные выводы, которые помогают решить ту или иную задачу.

Чтобы хорошо выполнять свою работу, аналитик данных должен разбираться в математике, теории вероятностей, статистике, основах программирования и визуализации данных. Работа аналитиком подходит усидчивым и коммуникабельным людям с развитым логическим мышлением.
        </p>

        <h3 class="info__subtitle">Перспективы</h3>
        <p class="info__knowledge">
          Сейчас аналитика больших данных используется в более чем 50 % компаний по всему миру. При том, что в 2015 году этот показатель составлял всего лишь 17 %. Big Data активнее всего используется компаниями, которые работают в сфере телекоммуникаций и финансовых услуг. Затем идут компании, которые специализируются на технологиях в здравоохранении. Минимальное использование аналитики Big Data в образовательных компаниях: в большинстве случаев представители этой сферы заявляли о намерении использовать технологии в ближайшем будущем.
          </p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Стать аналитиком данных можно за один год, причем как самостоятельно, так и закончив специальные курсы. При этом математическое образование будет хорошей базой, но оно не обязательно. <br>
            Специалисты из сферы IT имеют высокий доход, и аналитики данных – не исключение. <br>
            За несколько лет стажер-аналитик может вырасти до старшего аналитика, а потом стать главой отдела.
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            Хотя работа аналитика довольно творческая, в основном она связана с рутинными действиями, например со сбором данных. <br>
            Работа аналитика влияет на развитие компании. Иногда сотруднику приходится отстаивать свое мнение перед начальством и брать на себя ответственность за результат.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
