<section class="backend-hero hero-one">
  <div class="container">
    <div class="hero-one__inner">
      <div class="hero-one__info">
        <div class="hero-one__title">
          Аналитик данных
        </div>
        <div class="hero-one__descr">
          Это специалист, который собирает, обрабатывает, изучает и интерпретирует данные. Его работа помогает принимать решения в бизнесе, управлении и науке. Обычно такие специалисты работают в компаниях, которые практикуют data-driven подход — ориентируются на данные и их анализ при принятии решений.
        </div>
      </div>
      <div class="hero-one__image">
        <img src="./img/data-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
