<section class="backend-know know">
  <div class="container">
    <div class="know__inner">
      <div class="inner__image">
        <img src="./img/gamedev-info.png" alt="">
      </div>
      <div class="know__info">
        <h3 class="know__title">Что нужно знать</h3>
        <div class="know__descr">
          <p class="know__text">Работать с данными с помощью Google Sheets, Sublime, Excel;</p>
          <p class="know__text">Использовать для решения задач один языков программирования;</p>
          <p class="know__text">Списать запросы к базам данных SQL;</p>
          <p class="know__text">Реализовывать отчетность в BI-системах;</p>
          <p class="know__text">Иметь базовые знания по статистике.</p>
        </div>
      </div>
    </div>
  </div>
</section>
