<section class="backend-hero hero-one">
  <div class="container">
    <div class="hero-one__inner">
      <div class="hero-one__info">
        <div class="hero-one__title">
          Фронтэнд-разработчик
        </div>
        <div class="hero-one__descr">
          Это специалист, который воплощает дизайн сайта или приложения в коде. Фронтэнд пишут на HTML, CSS и JavaScript. В обязанности фронтэнд-разработчика входит кроссбраузерная и адаптивная верстка страниц, в том числе написание в коде анимационных элементов предоставленных UX/UI-дизайнерами, поэтому нужно владеть графическими редакторами.Фронтендщик в обязательном порядке умеет работать с контролем версий, использовать графические редакторы, «играть» с шаблонами различных CMS.
        </div>
      </div>
      <div class="hero-one__image">
        <img src="./img/frontend-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
