<section class="fronted-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Основная цель специалиста - сделать сайт и интерфейс максимально максимально удобным для пользователя. Интерфейс должен быть интуитивно понятен пользователю, не пергружен навигационными элементами и различными дополнениями, которые могут отвлекать от контента. Эта профессия по понятным причинам входит в сферу веб-разработки.
        </p>

        <h3 class="info__subtitle">Где работать:</h3>
        <p class="info__knowledge">
          На самом деле, для frontend-разработчика есть масса вариантов трудоустройства:<br>
          IT-департаменты компаний. Сотовые операторы и банки, соцсети и стриминговые платформы совершенствуют свои сервисы. Крупнейшие из них сами задают тренды во frontend-разработке. Работать можно как внутри компании, так и в агентстве, которое специализируется на аутсорс-разработке.<br>
          Разработчики корпоративного софта. Тут нужно будет создавать сервисы управления проектами, CRM и другие веб-приложения для бизнеса. Такое ПО часто имеет сложные интерфейсы и нуждается в регулярной поддержке. <br>
          Государственные организации. Такие сервисы, как «Госуслуги», «Налог.ру», городские информационные порталы постоянно растут и совершенствуются, вовлекая в свою работу в том числе этих специалистов.
          </p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Много вакансий, тысячи компаний делают сайты, различные сложные сервисы, без работы не останешься никогда;
            Довольно низкий порог вхождения по сравнению с другими IT-профессиями, т.к. нужет лишь один язык программирования JavaScript и достаточно иметь базовые знания веб-разметки и CSS стилей;
            Есть как работа с исходным кодом, так и дизайнерская составляющая деятельности, вобщем полная свобода фантазии и возможность самореализации.
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            Сидячий образ жизни. Без физических нагрузок в нерабочее время программист рискует большую часть зарплаты тратить на врачей;
            Обязательное взаимодействие с другими сотрудниками и работа в коменде(для некоторых это плюс, а для некоторых большой минус);
            Возможные сложности с продвижением по карьерной лестнице из-за немаленькой конкуренции.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
