<section class="backend-know know">
  <div class="container">
    <div class="know__inner">
      <div class="inner__image">
        <img src="./img/know-image.png" alt="">
      </div>
      <div class="know__info">
        <h3 class="know__title">Что нужно знать</h3>
        <div class="know__descr">
          <p class="know__text">Языки программирования HTML, CSS, JavaScript;</p>
          <p class="know__text">Базовое понимание адаптивного дизайна;</p>
          <p class="know__text">система Git, GitHub, CVS и т.д.;</p>
          <p class="know__text">библиотеки и фреймворки Bootstrap, Angular, React, и т.д.;</p>
          <p class="know__text">Работа с объектами DOM, API, AJAX и CORS;</p>
        </div>
      </div>
    </div>
  </div>
</section>
