<section class="fronted-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Fullstack-разработчик – это тот человек, кто найдет себе работу вне зависимости от кризисов. Он делает работу сразу за двоих: за фронтенд и бэкенд-разработчиков. Профессия популярна среди заказчиков и хорошо оплачиваемая. Поэтому на различных обучающих платформах появляются все новые онлайн-курсы, на которых можно получить знания, чтобы самому пополнить ряды fullstack-программистов.
        </p>

        <h3 class="info__subtitle">Перспективы</h3>
        <p class="info__knowledge">
          Фулстек-разработчики с практически любым опытом работы, без труда подберут себе вакансии в компаниях, где необходимо создать или поддерживать интернет-магазин либо какое-либо веб-приложение. Фулстек-разработчик может найти должность как с официальным трудоустройством в офисе, так и работать удаленно, например зарабатывать на фрилансе, или может развивать карьеру за рубежом или вовсе открыть собственную студию.
          </p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Востребованность, fullstack-программист может заменить трех-четырех специалистов. Это позволяет клиентам сэкономить, а разработчику — регулярно получать заказы. <br>
            Всегда можно выбрать и переключиться на более узкую специальность, так как есть понимание разных сфер разработки. <br>
            Могут самостоятельно вести проект и не тратить время на то, чтобы договориться с другими программистами.
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            В компании может возникнуть иллюзия, что fullstack-разработчик может все. Тогда коллеги начнут передавать ему задачи, которыми должны заниматься другие специалисты. <br>
            Трудно углубиться в одну сферу: загрузка большая и, если начать глубоко копать один аспект, качество продукта может снизиться.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
