<section class="backend-hero hero-one">
  <div class="container">
    <div class="hero-one__inner">
      <div class="hero-one__info">
        <div class="hero-one__title">
          Фулстек-разработчик
        </div>
        <div class="hero-one__descr">
          Это разработчик, который должен разбираться во всем стеке технологий и используемых в проекте компонентов, как в части фронтенда, так и бэкенда. При этом такому разработчику совсем не обязательно быть senior во всех технологиях, которые используются при разработке приложения. Это универсальный солдат, который может самостоятельно реализовать проект «под ключ», охватив и backend, и frontend.
        </div>
      </div>
      <div class="hero-one__image">
        <img src="./img/fullstack-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
