<section class="fronted-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Создание игр (game development) – это мощная индустрия, ориентированная на выпуск новых игр для разных движков и платформ в виде приложений для ПК, смартфона или социальной сети. Геймдевелопер – это человек, занятый в этой сфере. Однако это общее понятие, которое включает в себя массу узких специализаций и направлени.
        </p>

        <h3 class="info__subtitle">Перспективы</h3>
        <p class="info__knowledge">
          Новички, тоесть джуниоры обычно работают с багами и над небольшими задачами, которые ставят старшие разработчики. Примерно через 2 года специалист становится мидлом и занимается простыми замкнутыми системами внутри игры, например интерфейсами или механикой движения персонажей. Еще через два года специалисты переходят на уровень синьора. Они собирают работающую игру из созданных систем и программируют сложную игровую логику. С опытом работы от трех лет можно стать тимлидом или техлидом: управлять командой или организовывать весь процесс создания игр.
          </p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Низкий порог входа — C# на Unity сравнительно легко освоить, есть обучающие материалы и готовые элементы кода игр (ассеты). <br>
            Возможности для горизонтального развития — в индустрии есть разные профессии, в которые можно перейти, если программирование наскучит, например, можно получить опыт в 3D-дизайне или создании игровых сценариев. <br>
            Есть как работа с исходным кодом, так и дизайнерская составляющая деятельности, вобщем полная свобода, интересные творческие задачи — создание персонажей, механик и целых игровых миров.
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            Много крупных компаний, создающих масштабные игры, но как правило в них сильно ограниченное количество мест, сразу попасть в них на работу не получится. Больше всего на рынке средних и небольших студий, которые создают несложные однотипные мобильные игры, которые не сильно популярны. <br>
            Высокая конкуренция — из-за низкого порога входа и большого объема рынка игр есть много претендентов на вакансии.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
