<section class="backend-hero hero-one">
  <div class="container">
    <div class="hero-one__inner">
      <div class="hero-one__info">
        <div class="hero-one__title">
          Разработчик игр
        </div>
        <div class="hero-one__descr">
          Это программист, который с помощью движков создаёт новые шутеры, квесты, стратегии, приключения и т.д. Если говорить простыми словами, то такой специалист работает над виртуальным миром в виде компьютерных игр: продумывает концепцию, создает персонажей, перемещающихся и взаимодействующих друг с другом, а все их действия зависят от искуственного интелекта которым их наделит разработчик. Геймдев не ограничивается только проектами для ПК, здесь создаются игры для консолей и мобильных устройств.
        </div>
      </div>
      <div class="hero-one__image">
        <img src="./img/gamedev-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
