<div class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__info">
        <h1 class="hero__title">Калейдоскоп IT - профессий</h1>
        <p class="hero__descr">
          IT термин, объединяющий целую группу профессий, связанных с обслуживанием компьютерного оборудования, написанием программного обеспечения (ПО), созданием интернет-сайтов, автоматизированной обработкой и защитой информации.
        </p>
      </div>
      <div class="hero__image">
        <img src="/img/hero-bg.png" alt="">
      </div>
    </div>
  </div>
</div>
