<section class="backend-know know">
  <div class="container">
    <div class="know__inner">
      <div class="inner__image">
        <img src="./img/mobile-info.png" alt="">
      </div>
      <div class="know__info">
        <h3 class="know__title">Что нужно знать</h3>
        <div class="know__descr">
          <p class="know__text">Знание структур и алгоритмов;</p>
          <p class="know__text">Знание принципов ООП;</p>
          <p class="know__text">Знание сетевых протоколов;</p>
          <p class="know__text">Навыки работы с App Store и Google Play;</p>
          <p class="know__text">Навыки работы с многопоточностью;</p>
          <p class="know__text">Flutter (бешено растёт популярность).</p>
        </div>
      </div>
    </div>
  </div>
</section>
