<section class="backend-hero hero-one">
  <div class="container">
    <div class="hero-one__inner">
      <div class="hero-one__info">
        <div class="hero-one__title">
          Мобильные разработчики
        </div>
        <div class="hero-one__descr">
          Это программист, который пишет приложения для мобильных устройств. К ним относятся не только смартфоны и планшеты, но и умные часы, фитнес-трекеры, электронные читалки, GPS-навигаторы и все остальные штуки с экраном и клавиатурой, которые можно носить с собой. Большинство носимых устройств работает под управлением Android или iOS. Поэтому мобильные разработчики пишут софт для этих операционных систем.
        </div>
      </div>
      <div class="hero-one__image">
        <img src="./img/mobile-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
