<section class="fronted-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Разработчик мобильных приложений – это перспективная и очень интересная профессия. Начиная свой трудовой путь в маленькой компании, специалист может всегда совершенствовать свои навыки, расширять кругозор и стать многофункциональным программистом.
        </p>

        <h3 class="info__subtitle">Перспективы</h3>
        <p class="info__knowledge">
          Будущее у мобильных разработчиков пока весьма уверенное: сомневаюсь, что мир резко откажется от мобильных смартфонов и планшетов в ближайшее время, не говоря уже о росте разных видов носимой электроники. Поэтому развитие программистов этого типа будет выглядеть как пошаговый переход junior — middle — senior — lead. И желательно сразу выбрать отрасль и компанию, в которой вы хотите пройти этот путь. А если вам внезапно наскучит мобильная разработка, то из вас может получиться хороший фуллстек разработчик для веба или даже энтерпрайз-программист. В общем, особых ограничений в карьере действительно нет.
          </p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Высокий спрос на программистов. На рынке труда стабильно можно найти вакансии с хорошими условиями работы для разработчиков. <br>
            Возможность работать на себя, реализуя собственные проекты. <br>
            Минимальный порог для входа в профессию: не обязательно иметь высшее профильное образование в сфере IT. Работодатели смотрят на реальные умения, а не на диплом. Поэтому Андроид разработчику проще начать с нуля, чем, например, программисту IOS.
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            Требования заказчиков часто бывают завышенными. Поэтому программистам приходится тщательно анализировать техзадание и обсуждать все спорные моменты «на берегу».
            Даже готовый проект нужно постоянно дорабатывать, расширять функционал, подстраиваться под изменения.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
