<section class="professions" id="professions">
  <div class="container">
    <h1 class="professions__title">
      Профессии
    </h1>
    <p class="professions__descr">Многих притягивают высокие зарплаты, другие ищут свободный график и удаленную работу, а третьим нужна стабильность и востребованность в любые времена.
    </p>
    <div class="professions__inner">
      <a href="frontend.html" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-5.png" alt="">
        </div>
        <div class="card__title">
          Frontend-разработчик
        </div>
      </a>
      <a href="mobile.html" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-2.png" alt="">
        </div>
        <div class="card__title">
          Мобильные разработчики
        </div>
      </a>
      <a href="python.html" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-3.png" alt="">
        </div>
        <div class="card__title">
          Python-разработчик
        </div>
      </a>
      <a href="fullstack.html" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-4.png" alt="">
        </div>
        <div class="card__title">
          Full-stack разработчик
        </div>
      </a>
      <a href="qa.html" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-3.png" alt="">
        </div>
        <div class="card__title">
          QA-инженер
        </div>
      </a>
      <a href="backend.html" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-5.png" alt="">
        </div>
        <div class="card__title">
          Бэкенд-разработчик
        </div>
      </a>
      <a href="gamedev.html" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-2.png" alt="">
        </div>
        <div class="card__title">
          GameDev специалист
        </div>
      </a>
      <a href="#" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-6.png" alt="">
        </div>
        <div class="card__title">
          Аналитик данных
        </div>
      </a>
      <a href="#" target="_blank" class="card">
        <div class="card__image">
          <img src="./img/image-7.png" alt="">
        </div>
        <div class="card__title">
          1С-разработчик
        </div>
      </a>
    </div>

  </div>
</section>
