<section class="backend-hero hero-one">
  <div class="container">
    <div class="hero-one__inner">
      <div class="hero-one__info">
        <div class="hero-one__title">
          Python-разработчик
        </div>
        <div class="hero-one__descr">
          Это IT-специалист, который создает программное обеспечение, используя в качестве основного инструмента разработки лаконичный язык программирования Python (читается как “пайтон”). Также, в ходе работы он активно применяет вспомогательные технологии, такие как библиотеки и фреймворки — они позволяют упростить разработку сложных проектов и сделать сам процесс кодинга удобным и более результативным.
        </div>
      </div>
      <div class="hero-one__image">
        <img src="./img/python-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
