<section class="fronted-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Backend-разработчик на Python – это специалист, который разрабатывает серверную (внутреннюю, скрытую) часть приложения, и отвечает за внутреннюю архитектуру, логику и взаимодействие с базами данных. Его главная цель – сделать так, чтобы сервисы понимали запросы, а сайты правильно реагировали на действия пользователей.
        </p>

        <h3 class="info__subtitle">Перспективы</h3>
        <p class="info__knowledge">
          Python входит в тройку самых популярных языков программирования на протяжении последних лет. Именно его используют крупные технологические компании, например, Uber, Pinterest, Mozilla, Spotify, Netflix и Asana. Поэтому найти работу не будет большой проблемой, можно устроиться в крупный, крутой офис, или работать дистанционно, все зависит от ваших приоритетов.
          </p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Большая распространенность в России, есть много профильных сообществ, где можно спросить совета, получить помощь; <br>
            Много вакансий, тысячи компаний делают сайты, вею-приложения, различные сложные сервисы, без работы не останешься никогда, тем более в наше время; <br>
            Довольно низкий порог вхождения по сравнению с другими IT-профессиями, т.к. нужет лишь один язык программирования Python и достаточно иметь базовые знания веб-разметки и CSS стилей.
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            Чтобы быть востребованным специалистом, нужно знать еще какой-либо популярный язык программирования; <br>
            Для работы в крупных компаниях с перспективами карьерного роста требуется опыт работы с любым языком программирования, начинать придется скорее всего с небольших проектов.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
