<section class="backend-hero hero-one">
  <div class="container">
    <div class="hero-one__inner">
      <div class="hero-one__info">
        <div class="hero-one__title">
          Тестировщик
        </div>
        <div class="hero-one__descr">
          Это квалифицированный специалист, занимающийся тестированием мобильных приложений, десктопных программ, веб-приложений и другого софта до его официального выхода. В ходе работы тестировщик проверяет наличие ошибок, находит уязвимости, смотрит, адаптировано ли приложение под разные устройства, и выполняет много других операций. Вместе с этим тестировщик взаимодействует с аналитиком, который составляет сценарий, что должно произойти после тестирования определенного этапа
        </div>
      </div>
      <div class="hero-one__image">
        <img src="./img/qa-hero.png" alt="">
      </div>
    </div>
  </div>
</section>
