<section class="fronted-info info">
  <div class="container">
    <div class="info__inner">
      <div class="info__professions">
        <h1 class="info__title">Профессия и программист</h1>
        <p class="info__descr">
          Тестирование приложений – это не просто «потыкать» кнопки и понять, хорошо ли все работает. Это та деятельность, в которой задействуются навыки из сферы IT, дизайна и даже продуктового менеджмента. Тестировщик ПО старается найти все возможные ошибки, которые могут возникнуть у пользователя при взаимодействии с продуктом.
        </p>

        <h3 class="info__subtitle">Перспективы</h3>
        <p class="info__knowledge">
          Развитие тестировщика – это дорога со множеством путей. Некоторые становятся тестировщиками, чтобы в последующем уйти в более интересное звено, например в разработку, а другие концентрируются на тестировании и за несколько лет вырастают в мидлов, которые самостоятельно составляют тест-кейсы и прописывают всю необходимую документацию. Следом за мидлами идет должность старшего специалиста. Ну а после когда специалист перерастает в человека, который повидал все и досконально знает, как проводить тестирование IT-продукта, он становится тимлидом – руководителем команды тестировщиков.
          </p>
      </div>

      <div class="comparisons">
        <div class="comparisons__plus">
          <h4 class="comparisons__title">Плюсы профессии</h4>
          <p class="comparisons__descr">
            Низкий порог входа, при правильном подходе и желании тестировщиком может стать каждый, даже человек, который только что закончил школу. <br>
            Тестирование может стать очень хорошим стартом для развития в смежных областях – в разработке или продуктовом менеджменте. <br>
            Можно работать удаленно и речь не только о фрилансе, во многих фирмах и удаленка это основной формат работы
          </p>
        </div>

        <div class="comparisons__minus">
          <h4 class="comparisons__title">Минусы профессии</h4>
          <p class="comparisons__descr">
            • Много однотипной работы, как правило новичкам не доверяют что-то серьезное, а дают лишь однотипные задачи, поэтому на начальном этапе многие сдаются. <br>
            • Тестировщиков не любят разработчики, потому что они указывают на их ошибки. Бывает даже такое, что в крупных IT-компаниях тестировщики и разработчики находятся на разных этажах, чтобы не пересекаться друг с другом.
        </div>

      </div>
    </div>
  </div>
</section>
