<section class="backend-know know">
  <div class="container">
    <div class="know__inner">
      <div class="inner__image">
        <img src="./img/gamedev-info.png" alt="">
      </div>
      <div class="know__info">
        <h3 class="know__title">Что нужно знать</h3>
        <div class="know__descr">
          <p class="know__text">Знание основ тестирования, его видов и методов;</p>
          <p class="know__text">Знание языка запросов SQL, умение работать с базами данных;</p>
          <p class="know__text">Знание языков программирования;</p>
          <p class="know__text">Знание систем контроля версий: Git, CVS;</p>
          <p class="know__text">Знание методологий разработки ПО;</p>
          <p class="know__text">Для мобильного тестирования: понимание Android от iOS</p>
        </div>
      </div>
    </div>
  </div>
</section>
